.start{
    padding-top: 90px;
   
    
}
h1{
    color: white;
    text-shadow: 1px 1px 2px black,0 0 25px black,0 0 5px black;
    text-align: center;
}
img{
    width: max-content;
    height: max-content;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}